@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css") layer(framework);
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@font-face {
    font-family: "SFEspressoShack";
    src: url("../fonts/SFEspressoShackCondensed.ttf");
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}


.heading-wrapper h1 {
    display: flex;
    justify-content: center;
    font-family: 'Chicle', serif;
    font-size: 5rem;
    letter-spacing: .2rem;
    -webkit-text-stroke: 3px black;
    text-stroke: 10px black;
}

.heading-wrapper #sneaker-inspired {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.5rem;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
}



hr {
    width: 95%;
    margin: 0 auto;
}

#form-container {
    padding-left: 0;
    margin-right: 20px;
}

form {
    margin-top: 20px;
}

body {
    color: white;

}

#coffees{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
}

.coffee {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 50%;
}

.coffee h3 {
    font-family: 'Chicle', serif;
    font-size: 1.5rem;
    margin: 0;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9;
}

#reset-btn {
    width: 55%;
    margin: 30px auto;
    background-color: dimgrey;
    border: none;
    color: white;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .heading-wrapper {
        text-align: center;
    }
}

#wholePage {
    padding: 0px;
}

.btn-primary {
    background-color: dimgrey;
    border: none;
}

.btn-primary:hover{
    background-color: white;
    color: black;
}

#reset-btn:hover{
    background-color: white;
    color: black;
}

img {
    border-radius: 100%;
    background-color: white;
    height: 90px;
    width: 90px;
}

img:hover{
    opacity: 1;
    transform: scale(1.1);
}

/*Animations*/

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-top {
    animation: slideInTop 1.5s ease-out;
}

.slide-in-left {
    animation: slideInLeft 1.5s ease-out;
}


